html {
  background: black;
}

body {
  background: url('https://raw.githubusercontent.com/tiramisyuz/tiramisyuz/main/bg.svg');
  align-content: center;
  background-repeat: repeat;
  background-size: 100% 100%;
}

.Box-body {
  background-color: black;
}

td {
  background-color: black;
  border: none;
}

tr {
  background-color: black;
  border: none;
}

img {
  background-color: transparent;
}

</style>
<script>
console.log("hi");
</script>
<style>
